@use "../utils/variable";
@use "../utils/color.scss";
@use "../utils/mixins";

.menu{
    background-color: #f6f6f6;
    margin-bottom: 2rem;

    .menu-card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        @media (max-width: variable.$breakpoint) {
            grid-template-columns: repeat(1,1fr);
        }
        .new{
        position: relative;
        }
        .new::before{
            content: "Nouveau";
            position: absolute;
            width: 5rem;
            height: 2rem;
            background-color: color.$color-tertiaire;
            color: darken(color.$color-tertiaire, 50%);
            display: grid;
            place-items: center;
            top: 1rem;
            right: 1rem;

        }
    }


    .card{
        &_image{
           height: 15rem;
           background-size: cover;
           background-position: center;
           border-radius: 1rem 1rem 0 0;
        }
        @for $i from 1 through 4{
           &_image-#{$i} {
                background-image: url(../../images/restaurants/menu#{$i}.jpg); 
            }
        }
        &_description{
            position: relative;
            background-color: white;
            border-radius: 0 0 1rem 1rem ;
            h3,p{
                padding-top:0.3rem ;
            }
            i{
                font-size: 2rem;
                position: absolute;
                right: 2rem;
                top: 50%;
                transform: translateY(-50%);
            }
            .fa-solid{
             color: transparent;
             @include mixins.gradient(1);
             background-clip: text;
             -webkit-background-clip: text;
             opacity: 0;
             transition: all 200ms ease-in-out;
            }
            &:hover .fa-solid{
                opacity: 1;
                transform:  translateY(-50%) scale(1.2);

            }
        }
       
    }
    
}
 