

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Montserrat+Alternates&family=Roboto:wght@900&family=Shrikhand&display=swap');
p{ 
font-family: 'Merriweather', serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Roboto', sans-serif;

}

*,::after,::before{
    box-sizing: border-box;
}
body{
    margin:0px ;
    font-family: 'Roboto', sans-serif;

}

header h1{
    font-family: 'Shrikhand', cursive;
    text-align: center;
    box-shadow: 0px 3px 3px 1px grey;
    padding: 0.3rem;
    margin: 0;
    position: relative;
}
main .city{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f3f3f3;
    padding: 0.5rem;
    gap: 1em;
}
main .city i{
font-size: 2em;
}
/* explorer */
.explorer{
    text-align: center;
}
.explorer h2{
    margin-top: 1.5em;
    font-size: 2em;
}
.explorer button{
    background-image: linear-gradient(to top, #9356DC,#FF79DA);
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 1rem 2rem;
    border: none;
    border-radius: 2rem;
    box-shadow: 2px 1px 16px -3px #000000 ;
    transition: transform 200ms;
    margin-top: 1rem;
}
.explorer button:hover{
    transform: scale(1.02);
    opacity: 0.9;
    
}
