@use "../utils/mixins";

.banner img{
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: center bottom;
}
.page1 { 
    margin-top: -2rem;

    h2{
        @include mixins.coeur-annimation;
        border-radius: 2rem 2rem 0 0;
    font-family: 'Shrikhand', cursive;
    padding: 2rem 2rem;
}
}